<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&family=Orbitron:wght@900&family=Play:wght@700&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/tv1.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.1/gsap.min.js"></script>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js"
        integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh"
        crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
        <div class="h1">
            <img src="./images/tv1/logo.svg" alt="">
        </div>
        <div class="sublogo">
            <img src="./images/tv1/ASURA logo/ASURA-Horizontal_Color-Orange.svg" alt="">
            <img src="./images/tv1/TRIM logo/TRIM-Logo-White.svg" alt="">
        </div>
        <div>
            <section class="section s1 start">
                <div class="small">
                    <div class="top">
                        <div class="title-box">
                            <h1 class="title">01</h1>
                            <h2 class="sub-title fixWidthForThreeRow">IOT THREATS<br/>COLLECTION</h2>
                        </div>
                    </div>
                    <div class="bottom">
                        <img src="./images/tv1/section-small-footer-bg.png" alt="">
                    </div>
                </div>
                <div class="large">
                    <div class="bgz1"></div>
                    <div class="bgz2"></div>
                    
                    <div class="bg-lines">
                        <div class="lines">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                    <p class="title">
                        <span>01</span>
                        <img src="./images/tv1/01.svg" alt="">
                    </p>
                    <p class="subtitle fixWidthForThreeRow">IOT THREATS<br/>COLLECTION</p>
                    <div class="content"></div>

                    <div class="db-box">
                        <!-- <img src="./images/tv1/Panasonic-step01-Hoeypot-v2.png" alt=""> -->
                        <video src="./images/tv1/210609-step01.mp4" muted></video>
                    </div>
                    <div class="small-temp-comp">
                        <div class="small-top">
                        </div>
                        <h1 class="small-top-title">
                            <span>01</span>
                            <img src="./images/tv1/01.svg" alt="">
                        </h1>
                        <h2 class="small-top-sub-title fixWidthForThreeRow">IOT THREATS<br/>COLLECTION</h2>
                        <div class="small-bottom">
                            <img src="./images/tv1/section-small-footer-bg.png" alt="">
                        </div>
                    </div>
                    
                </div>
                
            </section>
            <section class="section s2 start">
                <div class="small">
                    <div class="top">
                        <div class="title-box">
                            <h1 class="title">02</h1>
                            <h2 class="sub-title fixWidthForThreeRow">IoT Malware<br/> Pool</h2>
                        </div>
                    </div>
                    <div class="bottom">
                        <img src="./images/tv1/section-small-footer-bg.png" alt="">
                    </div>
                </div>
                <div class="large">
                    <div class="bgz1"></div>
                    <div class="bgz2"></div>
                    
                    <div class="bg-lines">
                        <div class="lines">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                    <p class="title">
                        <span>02</span>
                        <img src="./images/tv1/02.svg" alt="">
                    </p>
                    <p class="subtitle fixWidthForThreeRow">IoT Malware<br/> Pool</p>
                    <div class="content"></div>

                    <div class="db-box">
                        <!-- <img src="./images/tv1/Panasonic-step01-Hoeypot-v2.png" alt=""> -->
                        <video src="./images/tv1/210607-step02.mp4" muted></video>
                    </div>
                    <div class="small-temp-comp">
                        <div class="small-top">
                        </div>
                        <h1 class="small-top-title">
                            <span>02</span>
                            <img src="./images/tv1/02.svg" alt="">
                        </h1>
                        <h2 class="small-top-sub-title fixWidthForThreeRow">IoT Malware<br/> Pool</h2>
                        <div class="small-bottom">
                            <img src="./images/tv1/section-small-footer-bg.png" alt="">
                        </div>
                    </div>
                    
                </div>
                
            </section>
            <section class="section s3 start">
                <div class="small">
                    <div class="top">
                        <div class="title-box">
                            <h1 class="title">03</h1>
                            <h2 class="sub-title">CHARACTERISTIC EXTRACTION</h2>
                        </div>
                    </div>
                    <div class="bottom">
                        <img src="./images/tv1/section-small-footer-bg.png" alt="">
                    </div>
                </div>
                <div class="large">
                    <div class="bgz1"></div>
                    <div class="bgz2"></div>
                    
                    <div class="bg-lines">
                        <div class="lines">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                    <p class="title">
                        <span>03</span>
                        <img src="./images/tv1/03.svg" alt="">
                    </p>
                    <p class="subtitle">CHARACTERISTIC EXTRACTION</p>
                    <div class="content"></div>

                    <div class="db-box">
                        <!-- <img src="./images/tv1/Panasonic-step03-StaticAnalysis-v2.png" alt=""> -->
                        <video src="./images/tv1/210607-step03.mp4" muted></video>
                    </div>
                    <div class="small-temp-comp">
                        <div class="small-top">
                        </div>
                        <h1 class="small-top-title">
                            <span>03</span>
                            <img src="./images/tv1/03.svg" alt="">
                        </h1>
                        <h2 class="small-top-sub-title">CHARACTERISTIC EXTRACTION</h2>
                        <div class="small-bottom">
                            <img src="./images/tv1/section-small-footer-bg.png" alt="">
                        </div>
                    </div>
                    
                </div>
                
            </section>
            <section class="section s4 start">
                <div class="small">
                    <div class="top">
                        <div class="title-box">
                            <h1 class="title">04</h1>
                            <h2 class="sub-title fixWidthForThreeRow">IoT Malware<br/>Execution</h2>
                        </div>
                    </div>
                    <div class="bottom">
                        <img src="./images/tv1/section-small-footer-bg.png" alt="">
                    </div>
                </div>
                <div class="large">
                    <div class="bgz1"></div>
                    <div class="bgz2"></div>
                    
                    <div class="bg-lines">
                        <div class="lines">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                    <p class="title">
                        <span>04</span>
                        <img src="./images/tv1/04.svg" alt="">
                    </p>
                    <p class="subtitle fixWidthForThreeRow">IoT Malware<br/>Execution</p>
                    <div class="content">
                        <div class="content-container">
                            <div class="content-each-container">
                                <div class="img-wrap">
                                    <img src="./images/tv1/tag_icons/icon1.svg" alt="">
                                </div>
                                <div class="text-wrap">
                                    <h3>SNORT_ALERT</h3>
                                    <p>[\"NETBIOS SMB-DS Session Setup NTMLSSP unicode asn1 overflow attempt\", \"NETBIOS SMB-DS IPC$ unicode share access\", \"SHELLCODE x86 NOOP\"]</p>
                                </div>
                            </div>
                            <div class="content-each-container">
                                <div class="img-wrap">
                                    <img src="./images/tv1/tag_icons/icon1.svg" alt="">
                                </div>
                                <div class="text-wrap">
                                    <h3>STRIPPED_BINARY</h3>
                                    <p>[]</p>
                                </div>
                            </div>
                            <div class="content-each-container">
                                <div class="img-wrap">
                                    <img src="./images/tv1/tag_icons/icon1.svg" alt="">
                                </div>
                                <div class="text-wrap">
                                    <h3>SYMBOL_CONTAIN_PATH</h3>
                                    <p>[\"/dev/null\"]</p>
                                </div>
                            </div>
                            <div class="content-each-container">
                                <div class="img-wrap">
                                    <img src="./images/tv1/tag_icons/icon1.svg" alt="">
                                </div>
                                <div class="text-wrap">
                                    <h3>USE_NON_STANDARD_PORT</h3>
                                    <p>[445]</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="db-box">
                        <!-- <img src="./images/tv1/Panasonic-step04-DynamicAnalysis-v2.png" alt=""> -->
                        <video src="./images/tv1/210607-step04.mp4" muted></video>
                    </div>
                    <div class="small-temp-comp">
                        <div class="small-top">
                        </div>
                        <h1 class="small-top-title">
                            <span>04</span>
                            <img src="./images/tv1/04.svg" alt="">
                        </h1>
                        <h2 class="small-top-sub-title fixWidthForThreeRow">IoT Malware<br/>Execution</h2>
                        <div class="small-bottom">
                            <img src="./images/tv1/section-small-footer-bg.png" alt="">
                        </div>
                    </div>
                    
                </div>
            </section>
            <section class="section s5 start">
                <div class="small">
                    <div class="top">
                        <div class="title-box">
                            <h1 class="title">05</h1>
                            <h2 class="sub-title fixWidthForThreeRow">IOT DEVICE<br/>PROTECTION</h2>
                        </div>
                    </div>
                    <div class="bottom">
                        <img src="./images/tv1/section-small-footer-bg.png" alt="">
                    </div>
                </div>
                <div class="large">
                    <div class="bgz1"></div>
                    <div class="bgz2"></div>
                    
                    <div class="bg-lines">
                        <div class="lines">
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                            <i></i>
                        </div>
                    </div>
                    <p class="title">
                        <span>05</span>
                        <img src="./images/tv1/05.svg" alt="">
                    </p>
                    <p class="subtitle fixWidthForThreeRow">IOT DEVICE<br/>PROTECTION</p>
                    <div class="content"></div>

                    <div class="db-box">
                        <!-- <img src="./images/tv1/Panasonic-step05-TrapEvaluation-v2.png" alt=""> -->
                        <video src="./images/tv1/210607-step05.mp4" muted></video>
                    </div>
                    <div class="small-temp-comp">
                        <div class="small-top">
                        </div>
                        <h1 class="small-top-title">
                            <span>05</span>
                            <img src="./images/tv1/05.svg" alt="">
                        </h1>
                        <h2 class="small-top-sub-title fixWidthForThreeRow">IOT DEVICE<br/>PROTECTION</h2>
                        <div class="small-bottom">
                            <img src="./images/tv1/section-small-footer-bg.png" alt="">
                        </div>
                    </div>
                    
                </div>
                
            </section>
        </div>
        <div class="console">
            
            <div class="console-content">
            </div>
            <i class="bg-arrows"></i>
        </div>
        <div class="next-arrow next-arrow1">
            <svg width="265" height="59" viewBox="0 0 265 59" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity=".5" filter="url(#filter0_d)">
                    <path d="M37.001 29.5L24.6676 11L12.3343 11L24.6676 29.5L12.3343 48L24.6676 48L37.001 29.5Z" stroke="#51D5FF"
                        stroke-width="2" />
                </g>
                <g opacity=".5" filter="url(#filter1_d)">
                    <path d="M73.001 29.5L60.6676 11L48.3343 11L60.6676 29.5L48.3343 48L60.6676 48L73.001 29.5Z" stroke="#51D5FF"
                        stroke-width="2" />
                </g>
                <g opacity=".5" filter="url(#filter2_d)">
                    <path d="M109.001 29.5L96.6676 11L84.3343 11L96.6676 29.5L84.3343 48L96.6676 48L109.001 29.5Z" stroke="#51D5FF"
                        stroke-width="2" />
                </g>
                <g opacity=".5" filter="url(#filter3_d)">
                    <path d="M145.001 29.5L132.668 11L120.334 11L132.668 29.5L120.334 48L132.668 48L145.001 29.5Z" stroke="#51D5FF"
                        stroke-width="2" />
                </g>
                <g opacity=".5" filter="url(#filter4_d)">
                    <path d="M181.001 29.5L168.668 11L156.334 11L168.668 29.5L156.334 48L168.668 48L181.001 29.5Z" stroke="#51D5FF"
                        stroke-width="2" />
                </g>
                <g opacity=".5" filter="url(#filter6_d)">
                    <path d="M217.001 29.5L204.668 11L192.334 11L204.668 29.5L192.334 48L204.668 48L217.001 29.5Z" stroke="#51D5FF"
                        stroke-width="2" />
                </g>
                <g opacity=".5" filter="url(#filter5_d)">
                    <path d="M253.001 29.5L240.668 11L228.334 11L240.668 29.5L228.334 48L240.668 48L253.001 29.5Z" stroke="#51D5FF"
                        stroke-width="2" />
                </g>
                
                <defs>
                    <filter id="filter0_d" x="0.46582" y="0" width="47.737" height="59" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                        <feOffset />
                        <feGaussianBlur stdDeviation="5" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.631373 0 0 0 0 0.572549 0 0 0 0 1 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                    <filter id="filter1_d" x="36.4658" y="0" width="47.737" height="59" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                        <feOffset />
                        <feGaussianBlur stdDeviation="5" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.631373 0 0 0 0 0.572549 0 0 0 0 1 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                    <filter id="filter2_d" x="72.4658" y="0" width="47.737" height="59" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                        <feOffset />
                        <feGaussianBlur stdDeviation="5" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.631373 0 0 0 0 0.572549 0 0 0 0 1 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                    <filter id="filter3_d" x="108.466" y="0" width="47.737" height="59" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                        <feOffset />
                        <feGaussianBlur stdDeviation="5" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.631373 0 0 0 0 0.572549 0 0 0 0 1 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                    <filter id="filter4_d" x="144.466" y="0" width="47.737" height="59" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                        <feOffset />
                        <feGaussianBlur stdDeviation="5" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.631373 0 0 0 0 0.572549 0 0 0 0 1 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                    <filter id="filter5_d" x="216.466" y="0" width="47.737" height="59" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                        <feOffset />
                        <feGaussianBlur stdDeviation="5" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.631373 0 0 0 0 0.572549 0 0 0 0 1 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                    <filter id="filter6_d" x="180.466" y="0" width="47.737" height="59" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                        <feOffset />
                        <feGaussianBlur stdDeviation="5" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.631373 0 0 0 0 0.572549 0 0 0 0 1 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                </defs>
            </svg>
        </div>
        <div class="next-arrow next-arrow2">
            <svg width="265" height="59" viewBox="0 0 265 59" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g opacity=".5" filter="url(#filter0_d)">
                    <path d="M37.001 29.5L24.6676 11L12.3343 11L24.6676 29.5L12.3343 48L24.6676 48L37.001 29.5Z" stroke="#51D5FF"
                        stroke-width="2" />
                </g>
                <g opacity=".5" filter="url(#filter1_d)">
                    <path d="M73.001 29.5L60.6676 11L48.3343 11L60.6676 29.5L48.3343 48L60.6676 48L73.001 29.5Z" stroke="#51D5FF"
                        stroke-width="2" />
                </g>
                <g opacity=".5" filter="url(#filter2_d)">
                    <path d="M109.001 29.5L96.6676 11L84.3343 11L96.6676 29.5L84.3343 48L96.6676 48L109.001 29.5Z" stroke="#51D5FF"
                        stroke-width="2" />
                </g>
                <g opacity=".5" filter="url(#filter3_d)">
                    <path d="M145.001 29.5L132.668 11L120.334 11L132.668 29.5L120.334 48L132.668 48L145.001 29.5Z" stroke="#51D5FF"
                        stroke-width="2" />
                </g>
                <g opacity=".5" filter="url(#filter4_d)">
                    <path d="M181.001 29.5L168.668 11L156.334 11L168.668 29.5L156.334 48L168.668 48L181.001 29.5Z" stroke="#51D5FF"
                        stroke-width="2" />
                </g>
                <g opacity=".5" filter="url(#filter6_d)">
                    <path d="M217.001 29.5L204.668 11L192.334 11L204.668 29.5L192.334 48L204.668 48L217.001 29.5Z" stroke="#51D5FF"
                        stroke-width="2" />
                </g>
                <g opacity=".5" filter="url(#filter5_d)">
                    <path d="M253.001 29.5L240.668 11L228.334 11L240.668 29.5L228.334 48L240.668 48L253.001 29.5Z" stroke="#51D5FF"
                        stroke-width="2" />
                </g>
                
                <defs>
                    <filter id="filter0_d" x="0.46582" y="0" width="47.737" height="59" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                        <feOffset />
                        <feGaussianBlur stdDeviation="5" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.631373 0 0 0 0 0.572549 0 0 0 0 1 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                    <filter id="filter1_d" x="36.4658" y="0" width="47.737" height="59" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                        <feOffset />
                        <feGaussianBlur stdDeviation="5" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.631373 0 0 0 0 0.572549 0 0 0 0 1 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                    <filter id="filter2_d" x="72.4658" y="0" width="47.737" height="59" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                        <feOffset />
                        <feGaussianBlur stdDeviation="5" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.631373 0 0 0 0 0.572549 0 0 0 0 1 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                    <filter id="filter3_d" x="108.466" y="0" width="47.737" height="59" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                        <feOffset />
                        <feGaussianBlur stdDeviation="5" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.631373 0 0 0 0 0.572549 0 0 0 0 1 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                    <filter id="filter4_d" x="144.466" y="0" width="47.737" height="59" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                        <feOffset />
                        <feGaussianBlur stdDeviation="5" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.631373 0 0 0 0 0.572549 0 0 0 0 1 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                    <filter id="filter5_d" x="216.466" y="0" width="47.737" height="59" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                        <feOffset />
                        <feGaussianBlur stdDeviation="5" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.631373 0 0 0 0 0.572549 0 0 0 0 1 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                    <filter id="filter6_d" x="180.466" y="0" width="47.737" height="59" filterUnits="userSpaceOnUse"
                        color-interpolation-filters="sRGB">
                        <feFlood flood-opacity="0" result="BackgroundImageFix" />
                        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" />
                        <feOffset />
                        <feGaussianBlur stdDeviation="5" />
                        <feColorMatrix type="matrix" values="0 0 0 0 0.631373 0 0 0 0 0.572549 0 0 0 0 1 0 0 0 1 0" />
                        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow" />
                        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow" result="shape" />
                    </filter>
                </defs>
            </svg>
        </div>
        <i class="decotation decotation-bl-boxes"></i>
        <i class="decotation decotation-tl-arrows"></i>
        <i class="decotation decotation-tr-boxes"></i>
        <i class="decotation decotation-br-arrows"></i>
        

        <div class="ret-mask">
            <canvas class="ret-lines"></canvas>
            <div class="ret-box">
                <img class="icon" src="" alt="">
                <img class="text" src="" alt="">
                <!-- <svg xmlns="http://www.w3.org/2000/svg" width="1000" height="500">
                    <text x="0" y="130" stroke="white" fill="none" style="font-size: 130px;font-weight: 900;letter-spacing: 0.02em;" stroke-width="1.5">Orbitron</text>
                </svg> -->
            </div>
        </div>
    </div>
    <script type="module" src="js/tv1/index.js"></script>
</body>
</html>