$small-box-top-bg-color: linear-gradient(180deg, rgba(0, 28, 55, 0) 0%,  #001C37 100%);
$small-box-top-w: px2vw(141px);
$small-box-top-h: px2vh(556px);
$small-box-bottom-h: px2vh(60px);
$small-box-title-top: px2vh(388px);
$small-box-subtitle-top: px2vh(455px);
$small-box-content-left: px2vw(25px);
$small-box-top-mb: px2vh(10px);

$large-box-w: px2vw(901px);
$large-box-h: px2vh(770px);

$large-box-bg1-w: px2vw(300px);
$large-box-bg1-h: px2vh(480px);
$large-box-bg1-bg-color: linear-gradient(180deg,  #001C37 0%, #7653AF 100%);
$large-box-bg1-left: px2vw(291px);
$large-box-bg1-top: 0;


$large-box-bg2-w: px2vw(340px);
$large-box-bg2-h: px2vh(700px);
$large-box-bg2-left: px2vw(311px);
$large-box-bg2-top: px2vh(70px);

$large-box-title-w: px2vw(214.28px);
// $large-box-title-w: px2vw(192.85px);
$large-box-title-h: px2vh(127.04px);
// $large-box-title-h: px2vh(114.33px);

$large-box-title-left: px2vw(456px);
$large-box-title-top: px2vh(157px);

$large-box-subtitle-left: px2vw(456px);
$large-box-subtitle-top: px2vh(299.74px);
// $large-box-subtitle-top: px2vh(311px);


$large-box-content-left: px2vw(456px);
$large-box-content-top: px2vh(476px);
// $large-box-content-top: px2vh(485px);

$large-box-db-box-top: px2vh(90px);
$large-box-db-box-left: px2vw(195px);

$line-count: 10;


// 字體
%large-subtitle {
    color: #fff;
    font-family: Play;
    font-style: normal;
    font-weight: bold;
    font-size: px2vw(68px);
    line-height: 1;
    text-transform: uppercase;
    text-shadow: 0px 0px 8.47px rgba(255, 255, 255, 0.5);
}

%small-subtitle {
    font-family: Play;
    font-style: normal;
    font-weight: bold;
    font-size: px2vw(20px);
    line-height: 1.1;
    color: rgba(255, 255, 255, .4);
    text-transform: uppercase;
}

%small-title {
    font-family: Orbitron;
    font-style: normal;
    font-weight: 900;
    font-size: px2vw(50px);
    line-height: 1;
    color: #001C37;
    letter-spacing: 0.02em;
    
    -webkit-text-stroke: 2px rgba(255, 255, 255, .4);
    text-stroke: 2px rgba(255, 255, 255, .4);
}

%large-content {
    color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: px2vw(12px);
    line-height: 1.8;
    letter-spacing: 0.02em;
}

%console-content {
    color: #fff;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: 500;
    font-size: px2vw(14px);
    line-height: 1.8;
}

%json-h3 {
    color: #fff;
    font-family: Play;
    font-style: normal;
    font-weight: bold;
    font-size: px2vw(20px);
    line-height: 1.1;
}

%json-p {
    font-family: Inconsolata;
    font-style: normal;
    font-weight: 500;
    font-size: px2vw(14px);
    line-height: 1.5
}



body {
    height: 100vh;
    width: 100vw;
}

.container {
    height: 100%;
    width: 100%;
    background: url(../images/tv1/bg.png) no-repeat center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    

    .section {
        position: absolute;
    }
    
}

.s1 {
    left: px2vw(120px);
    &.end-tran .large .title, .large .title, .small-top-title {
        width: px2vw(66px);
        height: px2vw(50px);
    }
}
.s2 { 
    left: px2vw(315px);
    &.end-tran .large .title, .large .title, .small-top-title {
        width: px2vw(84px);
        height: px2vw(50px);
    }
}
.s3 {
    left: px2vw(510px);
    &.end-tran .large .title, .large .title, .small-top-title {
        width: px2vw(84px);
        height: px2vw(50px);
    }
}
.s4 {
    left: px2vw(705px);
    &.end-tran .large .title, .large .title, .small-top-title {
        width: px2vw(81px);
        height: px2vw(50px);
    }

    .large .content {

        overflow: hidden;
        height: 230px;
        &-each-container {
            display: flex;
            margin-bottom: px2vh(25px);
            .img-wrap {
                margin-right: px2vw(20px);
                img {
                    height: px2vw(40px);
                    width: px2vw(40px);
                }
                
            }
            .text-wrap {
                h3 {
                    @extend %json-h3;
                    margin-bottom: px2vh(5px);
                }
                p {
                    @extend %json-p;
                    word-break: break-all;
                }
            }
        }
    }
}
.s5 {
    left: px2vw(900px);
    &.end-tran .large .title, .large .title, .small-top-title {
        width: px2vw(85px);
        height: px2vw(50px);
    }
}

$h1-h: px2vw(28px);
$h1-w: px2vw(180px);
$h1-top: px2vw(40px);
$h1-left: px2vw(80px);
.h1 {
    height: $h1-h;
    width: $h1-w;
    position: absolute;
    top: $h1-top;
    left: px2vw(80px);
    z-index: 99999;
    img {
        width: 100%;
    }
}

.sublogo {
    display: flex;
    width: $h1-w;
    align-items: center;
    position: fixed;
    top: #{$h1-h + $h1-top};
    left: $h1-left;
    z-index: 99999;
    img {
        max-width: 50%;
    }
}


.section {
    .small {
        &-top, .top {
            background: $small-box-top-bg-color;
            height: $small-box-top-h;
            width: $small-box-top-w;
            
            position: relative;
        }

        

        .top {
            margin-bottom: $small-box-top-mb;
        }

        .title-box {
            
        }
        .title {
            margin-bottom: px2vh(10px);
            position: absolute;
            top: $small-box-title-top;
            left: $small-box-content-left;
            @extend %small-title;
        }

        .sub-title {
            max-width: px2vw(325px);
            position: absolute;
            top: $small-box-subtitle-top;
            left: $small-box-content-left;
            @extend %small-subtitle;
        }


        &-bottom, .bottom {
            height: $small-box-bottom-h;
            width: $small-box-top-w;

            img {
                width: 100%;
                height: 100%;
            }
        }
        &-top-title {
            position: absolute;
            top: $small-box-title-top;
            
            left: $small-box-content-left;
            z-index: 3;
            span {
                position: absolute;
                @extend %small-title;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }

        &-top-sub-title {
            position: absolute;
            left: $small-box-content-left;
            top: $small-box-subtitle-top;
            z-index: 3;
            max-width: px2vw(145px);
            @extend %small-subtitle;
        }

        &-bottom {
            position: absolute;
            top: $small-box-top-mb + $small-box-top-h;
        }
    }

    .large {
        width: $large-box-w;
        height: $large-box-h;
        position: absolute;
        top: 0;
        left: 0;
        .bgz1 {
            position: absolute;
            height: $large-box-bg1-h;
            width: $large-box-bg1-w;
            background: $large-box-bg1-bg-color;
            left: $large-box-bg1-left;
        }

        .bgz2 {
            position: absolute;
            width: $large-box-bg2-w;
            height: $large-box-bg2-h;
            left: $large-box-bg2-left;
            top: $large-box-bg2-top;
            overflow: hidden;
            z-index: 1;
            
            &::after {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                transform: translateX(px2vw(20px)) rotate(-60deg) scaleX(1.7) scaleY(1.4);
                background: linear-gradient(200.83deg, #6853A4 6.47%, #092B4A 66.97%);
            }
        }

        

        .bg-lines {
            height: px2vh(400px);
            width: px2vw(230px);
            position: absolute;
            top: px2vh(70px);
            right: 0;
            overflow: hidden;
            .lines {
                transform: translateY(px2vw(-18px)) rotate(30deg);
            }
            i {
                display: block;
                background: linear-gradient(290.83deg, #6853A4 6.47%, #092B4A 66.97%);
                width: 100%;
                height: px2vw(35px);
                margin-bottom: px2vw(30px);
                transform: scaleX(2.5);
                position: relative;
            }
        }

        .title {

            position: absolute;
            z-index: 2;
            width: $large-box-title-w;
            height: $large-box-title-h;
            left: $large-box-title-left;
            top: $large-box-title-top;

            span {
                position: absolute;
                @extend %small-title;
            }
            img {
                width: 100%;
                height: 100%;
            }
        }

        .subtitle {
            @extend %large-subtitle;
            position: absolute;
            z-index: 2;
            top: $large-box-subtitle-top;
            left: $large-box-subtitle-left;
            max-width: px2vw(145px);
            
        }
        .content {
            position: absolute;
            z-index: 2;
            top: $large-box-content-top;
            left: $large-box-content-left;
            @extend %large-content;
            p {
                display: flex;
                // align-items: center;
                margin-bottom: px2vw(6px);

                .ret-title {
                    margin-right: px2vw(21px);
                    font-size: px2vw(16px);
                    line-height: 1.1;
                    font-family: 'Play';
                    font-style: normal;
                    font-weight: bold;
                    
                }

                .ret-info {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: normal;
                    font-size: px2vw(12px);
                    line-height: 2;
                    letter-spacing: 0.02em;
                    max-width: px2vw(300px);
                }


                &:last-of-type {
                    margin-bottom: 0;
                }
            }
            
            
        }


        .db-box {
            position: absolute;
            width: px2vw(433px);
            height: px2vh(612.84px);
            text-align: center;
            top: $large-box-db-box-top;
            z-index: 3;
            img {
                max-width: 100%;
                max-height: 100%;
            }

            mix-blend-mode: screen;
            video {
                mix-blend-mode: screen;
                width: 100%;
            }
        }
        
    }

    // 修正標題三行字會掉下來的問題
    .fixWidthForThreeRow {
        max-width: unset!important;
        width: max-content!important;
    }
}
.console {
        position: absolute;
        bottom: px2vh(47px);
        width: calc(100% - 200px);
        
        height: px2vw(209px);
        // background: linear-gradient(180deg, #001C37 0%, rgba(0, 28, 55, 0.1) 180.38%);
        background: url('../images/tv1/console-bg.svg') no-repeat center / cover;
        left: 50%;
        transform: translateX(-50%);
        padding-top: px2vw(70px);
        padding-bottom: px2vw(30px);
        box-sizing: border-box;


        .console-content {
            @extend %console-content;
            overflow: hidden;
            height: 100%;
            // margin-top: px2vw(30px);
            p {
                margin-left: px2vw(17px);
            }
        }


        .bg-arrows {
            display: block;
            height: px2vh(42px);
            width: px2vw(312px);
            position: absolute;
            top: 0;
            right: 0;
            background: url(../images/tv1/section-large-arrows.svg) no-repeat center / cover;
            transform: translateY(-50%);
        }
        .tl-decotation {
            
            height: px2vh(20.29px);
            width: px2vw(295px);
            background: url(../images/tv1/console-tl-decoration.png) no-repeat center;
            background-size: 100% 100%;
            position: absolute;
            left: 0;
            top: 0;
            display: flex;
            i {
                display: block;
                height: px2vh(20.29px);
                width: px2vw(25px);
                background: #51D5FF;
                transform: skewX(-45deg);
                margin-right: 25px;
            }
        }
}



.next-arrow {
    height: px2vh(59px);
    width: px2vh(240.67px);
    position: absolute;
    left: px2vw(250px);
    opacity: 0;
    z-index: 3;
    svg {
        height: 100%;
        width: 100%;
    }
    &1 {
        top: px2vh(632px);
    }
    &2 {
        top: px2vh(695px);
    }
}

.decotation {
    display: block;
    position: absolute;
    z-index: 1;

    &-bl-boxes {
        height: px2vw(225px);
        width: px2vw(155px);
        background: url(../images/tv1/decotation-bl-boxes.svg) no-repeat center / cover;
        bottom: px2vh(76px);
        left: 0;
        transform: translateX(-23px);
    }
    &-tl-arrows {
        height: px2vh(732px);
        width: px2vw(80.07px);
        background: url(../images/tv1/decotation-tl-arrows.png) no-repeat center / 100% 100%;
        top: 0;
        left: 0;
        transform: translate(px2vw(-26px), px2vh(-107px))
    }
    &-tr-boxes {
        height: px2vw(166px);
        width: px2vw(255px);
        background: url(../images/tv1/decotation-tr-boxes.svg) no-repeat center / cover;
        top: px2vh(80px);
        right: px2vw(60px);
    }
    &-br-arrows {
        height: px2vh(732px);
        width: px2vw(80.07px);
        background: url(../images/tv1/decotation-br-arrows.png) no-repeat center / 100% 100%;
        bottom: 0;
        right: 0;
        transform: translate(px2vw(25.07px), px2vh(39px));
    }
}

// DEBUG
// div.container .section {
//     .small {
//         display: block;
//     }
//     .large {
//         // > * {
//         //     display: black;
//         // }
//         .db-boxsmall-top-sub-title, .subtitle {
//             display: block;
//             opacity: 1;
//         }
//     }
// }


// 動畫
.section.start {
    .small {
        display: none;
    }

    .large {
        .title {
            span, img {
                display: none;
            }
        }

        .subtitle {
            display: none;
        }

        .bgz1 {
            display: none;
        }
        .bgz2::after {
            clip-path: polygon(0% 50%, 100% 50%, 100% 50%, 0% 50%);
        }
        .bg-lines i { 
            left: 200%;
        }

        .content p {
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
           
        }
        .db-box {
            left: -$large-box-db-box-left;
            opacity: 0;
        }
    }

    .small {
        &-top {
            left: $large-box-w - $small-box-top-w;
            &-title {
                left: $large-box-w - $small-box-top-w + $small-box-content-left;
                img {
                    display: none;
                }
            }
            &-sub-title {
                left: $large-box-w - $small-box-top-w + $small-box-content-left;
            }
        }
        &-bottom {
            left: $large-box-w - $small-box-top-w;
            transform: scaleY(1);
            transform-origin: bottom;
        }
    }


    &.s1 {
        .large {
            .db-box {
                left: 0;
                top: 0;
            }
        }
    }


    &.s4 {
        .large {
            .content-each-container {
                clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            }
            .content p {
                clip-path: unset;
            }
        }
    }
}

.section.start-tran {
    .small {
        display: none;
        &-top {
            transition: all ease 1s;
            
            left: $large-box-bg1-left;
            width: $large-box-bg1-w;
            height: $large-box-bg1-h;
            background: $large-box-bg1-bg-color;
            &-title {
                transition: all ease 1s;
                transition-delay: 1s;
                left: $large-box-w - $small-box-top-w + $small-box-content-left;
                height: $large-box-title-h;
                width: $large-box-title-w;
                left: $large-box-title-left;
                top: $large-box-title-top;
                span {
                    display: none;
                }
                img {
                    display: block;
                }
            }
            &-sub-title {
                transition: all ease 1s;
                transition-delay: 1s;
                @extend %large-subtitle;
                left: $large-box-subtitle-left;
                top: $large-box-subtitle-top;
            }
        }
        &-bottom {
            transition: all ease 1s;
            transition-delay: 1s;
            left: $large-box-w - $small-box-top-w;
            transform: scaleY(0);
        }
    }

    .large {
        .bgz2::after {
            transition: 1s ease all;
            transition-delay: .5s;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }
        .bg-lines i { 
            transition: 1s ease all;
            transition-delay: 1s;
            // transform: scaleX(2);
            left: 0;

            @for $i from 1 through $line-count {
                &:nth-of-type(#{$i}) {
                    transition-delay: #{1 - ($i - 1) / $line-count}s
                }

            } 
        }

        .db-box {
            transition: 1s ease all;
            left: 0;
            opacity: 1;
        }

        .content p {
            transition: 1s ease all;
            transition-delay: 1s;
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
           
        }
    }


    &.s1 {
        .large {
            .db-box {
                top: $large-box-db-box-top;
            }
        }
    }

    &.s4 {
        .large {
            .content-each-container {
                transition: 1s ease all;
                transition-delay: 1s;
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            }
            .content p {
                clip-path: unset;
            }
        }
    }
}


.section.cur {
    .small {
        display: none;
        &-top, &-top-title, &-top-sub-title {
            display: none;
        }
        &-bottom {
            transform: scaleY(0);
            left: 0;
        }
    }

    .large {
        .title span {
            display: none;
        }
        .bgz2::after {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
        }

        .db-box {
            // top: $large-box-db-box-top;
            left: 0;
            opacity: 1;
        }
        .content p {
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
           
        }
        .bg-lines i { 
            // transform: scaleX(2);
            left: 0;
        }
    }

    &.s4 {
        .large {
            .content-each-container {
                clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            }
            .content p {
                clip-path: unset;
            }
        }
    }
}


.section.end-tran {
    .small-bottom {
        transition: 1s ease all;
        transform: scaleY(1);
        transform-origin: center bottom;
        left: 0;
    }
    .large {
        .title {
            transition: 1s ease all;
            transition-delay: 1s;
            left: $small-box-content-left;
            top: $small-box-title-top;
            // width: $small-box-top-title-w;
            // height: $small-box-top-title-h;
        }

        .subtitle {
            transition: 1s ease all;
            transition-delay: 1s;
            left: $small-box-content-left;
            top: $small-box-subtitle-top;
            @extend %small-subtitle;
        }

        .bgz1 {
            transition: 1s ease all;
            background: $small-box-top-bg-color;
            height: $small-box-top-h;
            width: $small-box-top-w;
            left: 0;
        }


        .bgz2::after {
            transition: 1s ease all;
            transition-delay: 1s;
            clip-path: polygon(0% 50%, 100% 50%, 100% 50%, 0% 50%);
        }

        .db-box {
            transition: 1s ease all;
            // top: 0;
            transition-delay: 1s;
            left: $large-box-db-box-left;
            opacity: 0;
        }
        .content p {
            transition: 1s ease all;
            transition-delay: 1s;
            clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
           
        }
        .bg-lines i { 
            transition: 1s ease all;
            
            // transform: translate(-200%) scaleX(2);
            left: -250%;

            @for $i from 1 through $line-count {
                &:nth-of-type(#{$i}) {
                    transition-delay: #{2 - ($i - 1) / $line-count}s
                }

            } 
        }
    }

    &.s4 {
        .large {
            .content-each-container {
                transition: 1s ease all;
                transition-delay: 1s;
                clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
            }
            .content p {
                clip-path: unset;
            }
        }
    }

    &.s5 {
        .large {
            .db-box {
                top: 0;
                left: 0;
            }
        }
    }
}


.end {
    .large {
        display: none;
    }
}

.end-start {
    .small {
        display: none;
        &-top {
            &-title img {
                display: none;
            }
        }
        &-top, &-bottom {
            left: 0;
        }
    }
    .large {
        .bgz1, .bgz2, .bg-lines, .title, .subtitle, .content, .db-box {
            display: none;
        }
    }
}

.end-start-tran {
    .small {
        &-top, &-bottom {
            transition: 1s ease all;
            left: $large-box-w - $small-box-top-w;
        }
        &-top-title, &-top-sub-title {
            transition: 1s ease all;
            left: $large-box-w - $small-box-top-w + $small-box-content-left;
        }
    }
}


// // bg-boxs 動畫

.next-arrow {
    

    &1 {
        &.s1, &.s2, &.s3, &.s4, &.s5, &.end-tran {
            transition: 1s ease all;

        }
    }
    &2 {
        &.s1, &.s2, &.s3, &.s4, &.s5, &.end-tran {
            transition: 1s ease all;
            transition-delay: 0.3s;
        }
    }
    &.s1 {
        
        opacity: 1;
        left: px2vw(250px);
    }
    &.s2 {
        
        opacity: 1;
        left: px2vw(445px);
    }
    &.s3 {
        
        opacity: 1;
        left: px2vw(640px);
    }
    &.s4 {
        
        opacity: 1;
        left: px2vw(835px);
    }
    &.s5 {
        
        opacity: 1;
        left: px2vw(1030px);
    }
    &.end-tran {
        
        opacity: 0;
        left: px2vw(1030px);
    }
}



// 結束匡
.ret {

    &-mask {
        pointer-events: none;
        width: 100%;
        height: 100%;
        
        position: absolute;
        z-index: 999;
    }

    &-box {
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: linear-gradient(65.68deg, #D32750 32.89%, #0B185A 138.5%);
        
        box-sizing: border-box;
        padding: 0 px2vw(70px);
        width: px2vw(1000px);
        display: flex;
        opacity: 0;



        .icon {
            height: px2vw(196px);
			width: px2vw(196px);
			vertical-align: middle;
			margin-top: px2vw(42px);
			margin-bottom: px2vw(11px);
			flex-shrink: 0;
        }

        .text {
			vertical-align: middle;
            flex: 1;
            width: 1px;
		}
    }
    
}